@model GymManager.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8 col-lg-4">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Change Password Form</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder="Current password" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New password" })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm new password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2">
                    <input type="submit" value="Change password" class="btn btn-primary btn-block" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
