@model  GymManager.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />


    @if (Model.HasPassword)
    {
        @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-primary" })
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
    }


    @Model.Logins.Count [
    @Html.ActionLink("Manage", "ManageLogins") ]

</div>
