
@{
    ViewBag.Title = "Edit Equipment Order";
}

<h2>@ViewBag.Title</h2>
<hr>

@Html.Partial("_EquipmentOrderForm")

@section scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/GymManager/gm-pupulate-select-with-ajax-get.js")
    @Scripts.Render("~/scripts/GymManager/gm-handle-edit-equipment-order.js")
}