
@{
    ViewBag.Title = "Equipment Orders";
}

<h2>@ViewBag.Title</h2>
<a href="/EquipmentOrders/New" class="btn btn-primary mt-3" role="button">New Order</a>
<hr>

<div class="table-responsive">
    <table id="equipmentOrders" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Orderer</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Desired Delivery Date</th>
                <th width="14%">Status</th>
                <th width="3%"></th>
                <th width="3%"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@section scripts {
  

    @Scripts.Render("~/Scripts/datatables/dataTables.buttons.min.js")
    @Scripts.Render("~/Scripts/datatables/buttons.flash.min.js")
    @Scripts.Render("~/Scripts/datatables/buttons.html5.min.js")
    @Scripts.Render("~/Scripts/datatables/buttons.print.min.js")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js")

    <script>
        $(document).ready(function () {

            var table = $("#equipmentOrders").DataTable({
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        text: 'Generate PDF',
                        className: "btn btn-primary mb-2",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    }
                ],
                ajax: {
                    url: "/api/equipmentOrders",
                    dataSrc: ""
                },
                "order": [[5, "desc"]],
                columns: [
                    {
                        data: "userId"
                    },
                    {
                        data: "brand"
                    },
                    {
                        data: "model"
                    },
                    {
                        data: "type.name"
                    },
                    {
                        data: "quantity"
                    },
                    {
                        data: "desiredDeliveryDate",
                        render: function (data) {
                            var date = new Date(data);
                            var dateString = date.getFullYear() + '/'
                                + ('0' + (date.getMonth() + 1)).slice(-2) + '/'
                                + ('0' + date.getDate()).slice(-2);

                            return dateString;
                        }
                    },
                    {
                        "orderable": false,
                        render: function (data, type, full, meta) {
                            return "<form>"
                                + "<div class='form-group'>"
                                + "<select class='form-control' id='orderSelect" + full.id + "'>"
                                + "<option value='' selected disabled hidden>" + full.orderStatus.name + "</option>"
                                + "<option class='pointer' value='1'>In process</option>"
                                + "<option class='pointer' value='2'>Shipped</option>"
                                + "<option class='pointer' value='3'>Completed</option>"
                                + "</select > "
                                + "</div>"
                                + "<button type='button' data-equipment-order-id='" + full.id + "' class='btn btn-primary js-change'>Change</button ></form > ";
                        }
                    },
                    {
                        data: "id",
                        "orderable": false,
                        render: function (data) {
                            return "<a href ='/Orders/Equipment/Edit/" + data + "' class='pointer'><i class='fa fa-edit' title='Edit'></i></a>";
                        }
                    },
                    {
                        data: "id",
                        "orderable": false,
                        render: function (data) {
                            return "<a class='pointer js-delete' data-equipment-order-id=" + data + "><i class='fa fa-trash' title='Delete'></i></a>";
                        }
                    }
                ]
            });

            $("#equipmentOrders").on("click", ".js-change", function () {
                var button = $(this);
                var orderStatusId = $("#orderSelect" + button.attr("data-equipment-order-id")).val();
                if (orderStatusId == null) {
                    toastr.warning("Choose a different order status.");
                    return 0;
                }

                $.ajax({
                    url: "/api/equipmentOrders/" + button.attr("data-equipment-order-id") + "/" + orderStatusId,
                    method: "PUT"
                })
                    .done(function () {
                        toastr.success("Order status successfully changed.");
                    })
                    .fail(function () {
                        toastr.error("Unexpected error.");
                    });

            });

            $("#equipmentOrders").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm({
                    title: 'Delete',
                    message: "Are you sure you want to delete this order?",
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/equipmentOrders/" + button.attr("data-equipment-order-id"),
                                method: "DELETE"
                            })
                                .done(function () {
                                    table.row(button.parents("tr")).remove().draw();
                                    toastr.success("Order successfully deleted.");
                                })
                                .fail(function () {
                                    toastr.error("Unexpected error.");
                                });
                        }
                    }
                });
            });

        })

    </script>
}


