
@{
    ViewBag.Title = "New Equipment Order";
}

<h2>@ViewBag.Title</h2>
<hr>

<form id="equipmentOrderForm">

    <div class="input-group mt-3">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-copyright"></i></span>
        </div>
        <input class="form-control" placeholder="Brand" id="brand" name="brand" value="lol" required>
    </div>
    <p id="errorbrand"></p>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-copyright"></i></span>
        </div>
        <input class="form-control" placeholder="Model" value="lol" id="model" name="model" required>
    </div>
    <p id="errormodel"></p>

    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text"><i class="fas fa-dumbbell"></i></label>
        </div>
        <select class="form-control" id="typeId" name="typeId" required></select>
    </div>
    <p id="errortypeId"></p>

    <div class="input-group">
        <label for="purchaseDate">Desired Delivery Date</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-calendar-alt"></i> </span>
            </div>
            <input id="desiredDeliveryDate" type="date" class="form-control" name="desiredDeliveryDate" min="2000-01-01" max="2100-01-01" required>
        </div>
    </div>
    <p id="errordesiredDeliveryDate"></p>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fas fa-sort-numeric-up"></i> </span>
        </div>
        <input type="number" class="form-control" placeholder="Quantity" value="5" step="1" id="quantity" name="quantity" min="1" max="10000" required>
    </div>
    <p id="errorquantity"></p>

    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Submit</button>
    <a href="/Orders/Equipment" class="btn btn-danger ml-2" role="button"><i class="fa fa-undo"></i> Back</a>
</form>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/GymManager/gm-pupulate-select-with-ajax-get.js")
    @Scripts.Render("~/scripts/GymManager/gm-get-todays-date.js")

    <script>
        $(document).ready(function () {
            getResourcesFromAPIAndInsertInSelect("#typeId", "Equipment Type", "types");
            $('#desiredDeliveryDate').val(getTodaysDate());

            function resetForm($form) {
                $form.find('input:text, input:password, input:file, select, textarea').val('');
                $("input[type=date]").val("");
            };

            $("#equipmentOrderForm").validate({
                errorPlacement: function ($error, $element) {
                    var name = $element.attr("name");
                    $("#error" + name).append($error);
                },
                rules: {
                    brand: {
                        maxlength: 30,
                    },
                    model: {
                        maxlength: 30,
                    }
                },
                submitHandler: function () {
                    var formData = $('#equipmentOrderForm').serializeArray().reduce(function (obj, item) {
                        obj[item.name] = item.value;
                        return obj;
                    }, {});
                    $.ajax({

                        url: "/api/equipmentOrders",
                        method: "POST",
                        data: formData
                    })
                        .done(function () {
                            toastr.success("Equipment order successfully added.");
                            resetForm($('#equipmentOrderForm'));
                            $('#desiredDeliveryDate').val(getTodaysDate());

                        })
                        .fail(function () {
                            toastr.error("Unexpected error.");
                        });

                    return false;
                }
            });
        })

    </script>
}
