
@{
    ViewBag.Title = "Edit Equipment";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_EquipmentForm")

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/GymManager/gm-pupulate-select-with-ajax-get.js")
    @Scripts.Render("~/scripts/GymManager/gm-handle-edit-equipment-form .js") 
}