
@{
    ViewBag.Title = "Edit Equipment";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-md-8 col-lg-4">
        @Html.Partial("_EquipmentForm")
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/GymManager/gm-pupulate-select-with-ajax-get.js")
    @Scripts.Render("~/scripts/GymManager/gm-handle-edit-equipment-form .js") 
}